@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@400&display=swap");
$primary-color: #18191a;
$primary-text-color: #fff;
$primary-font: "Poppins", sans-serif;
$secondary-color: #242526;
$third-color: #007fff;
$orange-color: #fea75e;

@mixin image-center($url) {
  background-image: url(unquote($url));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body::-webkit-scrollbar {
  width: 0.25em;
  background-color: rgba(255, 255, 255, 0.2);
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid #708090;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $primary-font;
}
body {
  background-color: $secondary-color !important;
  color: $primary-text-color;
}

/*** Common Things ***/
.bg-custom {
  background-color: $secondary-color;
}
.dn {
  display: none;
}
mark {
  border-radius: 0.4rem;
}
button {
  text-transform: uppercase;
  a {
    color: $primary-text-color;
    text-decoration: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.textsvg {
  fill: white !important;
}
.title {
  position: relative;
  margin: 30px 0 19px 30px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    width: 6px;
    height: 30px;
    background-color: $orange-color;
  }
}
.break {
  display: block;
  visibility: hidden;
  width: 100%;
  height: 150px;
}
hr.line-bar {
  width: 120px;
  height: 1px;
  background-color: $orange-color;
  border: none;
  margin: 0;
  opacity: 1;
}

/*** Navbar ***/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba($primary-color, 0.7);
  color: $primary-text-color;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba($primary-text-color, 0.1);
  .navbar-brand {
    color: $primary-text-color;
    font-weight: 500;
    display: flex;
    gap: 10px;
    img {
      max-height: 55px;
      border-radius: 5px;
    }
    .logo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      h3,
      p {
        margin: 0;
        font-weight: 400;
      }
      h3 {
        text-transform: uppercase;
        font-size: 1.25rem;
      }
      p {
        font-size: 0.8rem;
        margin-top: 5px;
      }
    }
  }
  .navbar-items {
    display: flex;
    height: 100%;
    gap: 30px;
    align-items: center;
    .contact-info {
      margin: 0;
      font-size: 0.9rem;
      span {
        color: $orange-color;
      }
    }
    .menu-action {
      margin-left: auto;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .navbar-items {
      width: 100%;
    }
  }
}

.__home-page {
  /*** Hero Section ***/
  .hero-section {
    position: relative;
    background-image: url("../images/interface/construction-home-scaled.jpg");
    background-position: center;
    width: 100%;
    min-height: 100vh;
    .hero-layout {
      width: 100%;
      min-height: 100vh;
      padding: 10rem 0;
      background: linear-gradient(
        100deg,
        $primary-color 25%,
        rgba($primary-color, 0.9) 35%,
        rgba($primary-color, 0.7) 45%,
        rgba($primary-color, 0.5) 70%,
        rgba($primary-color, 0.1) 90%,
        rgba($primary-color, 0.1) 100%
      );
      .container {
        width: 100%;
        .row {
          width: 100%;
          .hero-heading {
            font-size: 3.8rem;
            font-weight: 500;
            line-height: 4.56rem;
            margin: 20px 0;
            margin-top: 32px;
          }
          .hero-paragraph {
            max-width: 600px;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.8rem;
            margin: 0;
            color: darken($primary-text-color, 25%);
          }
          .hero-button {
            width: fit-content !important;
            padding: 10px 25px !important;
            font-size: 0.9rem !important;
            margin-top: 30px;
          }
          .hero-chip {
            background-color: rgba($primary-color, 0.5);
            color: $primary-text-color;
            border: 1px solid rgba($primary-text-color, 0.4);
            padding: 10px 20px;
            width: fit-content;
            border-radius: 2px;
            font-size: 0.9rem;
            &:hover {
              background-color: rgba($primary-color, 0.9);
            }
          }
        }
      }
    }
  }
  /*** Intro Section ***/
  .intro-section {
    padding: 100px 0;
    .container {
      .row {
        & > div {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .intro-heading {
          font-size: 2.6rem;
          font-weight: 600;
          margin-bottom: 30px;
        }
        .line-bar {
          margin-bottom: 30px;
        }
        .intro-paragraph {
          font-size: 0.9rem;
          font-weight: 400;
          line-height: 1.8rem;
          margin: 0;
          color: darken($primary-text-color, 25%);
        }
        .intro-button {
          width: fit-content !important;
          padding: 10px 25px !important;
          font-size: 0.9rem !important;
          margin-top: 30px;
          background-color: transparent;
          border-radius: 0;
          &:hover {
            background-color: rgba($third-color, 0.6);
          }
        }
        img {
          width: 100%;
          background-color: rgba($third-color, 0.1);
          border-radius: 10px;
          &:hover {
            opacity: 0.75;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            transform: scale(1.05);
          }
        }
      }
    }
  }
  /*** Services Section ***/
  .services-section {
    padding: 50px 0;
    .container {
      .row {
        .services-chip {
          text-align: center;
          color: rgba($primary-text-color, 0.7);
        }
        .services-heading {
          font-size: 2.6rem;
          font-weight: 600;
          margin-bottom: 30px;
          text-align: center;
        }
        .line-bar {
          margin: 0 auto 30px auto;
        }
        .service-card {
          height: 100%;
          background-color: rgba($primary-color, 0.3);
          color: $primary-text-color;
          border: 1px dashed rgba($primary-text-color, 0.2);
          padding: 35px 20px;
          border-radius: 10px;
          margin-bottom: 30px;
          transition: all 0.3s ease;
          text-align: center;
          &:hover {
            background-color: rgba($primary-color, 0.9);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            transform: scale(1.05);
          }
          svg {
            width: 50px;
            height: 50px;
            fill: $orange-color;
          }
          h3 {
            font-size: 1.6rem;
            font-weight: 500;
            margin: 10px 0;
          }
          p {
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1.5rem;
            margin: 0;
            margin-top: 20px;
            color: darken($primary-text-color, 25%);
          }
        }
        button {
          transition: all 0.3s ease;
          &:hover {
            opacity: 0.75;
            & svg {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  /*** Clients Section ***/
  .clients-section {
    padding: 100px 0;
    background-color: lighten($primary-color, 6%);
    .container {
      .row {
        .clients-chip {
          color: rgba($primary-text-color, 0.7);
          font-size: 0.9rem;
        }
        .clients-heading {
          font-size: 2.6rem;
          font-weight: 600;
          margin-bottom: 30px;
        }
        .clients-paragraph {
          font-size: 0.9rem;
          font-weight: 400;
          line-height: 1.8rem;
          margin: 0;
        }
        .line-bar {
          margin: 0 0 30px 0;
        }
        .clients-button {
          width: fit-content !important;
          padding: 10px 25px !important;
          font-size: 0.9rem !important;
          margin-top: 30px;
          background-color: transparent;
          border-radius: 0;
          &:hover {
            background-color: rgba($third-color, 0.6);
          }
        }
        .client-card {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
          background-color: #fff;
          color: $primary-text-color;
          border: 1px dashed rgba($primary-text-color, 0.2);
          border-radius: 10px;
          transition: all 0.3s ease;
          &:hover {
            opacity: 0.75;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            transform: scale(1.05);
          }
          img {
            width: 100px;
            object-fit: cover;
          }
        }
      }
    }
  }
  /*** Team Section ***/
  .team-section {
    padding: 100px 0;
    .container {
      .row {
        .team-chip {
          color: rgba($primary-text-color, 0.7);
          font-size: 0.9rem;
        }
        .team-heading {
          font-size: 2.6rem;
          font-weight: 600;
          margin-bottom: 30px;
        }
        .line-bar {
          margin: 0 0 30px 0;
        }
        .team-card {
          height: 100%;
          text-align: center;
          background-color: rgba($primary-color, 0.3);
          color: $primary-text-color;
          border: 1px dashed rgba($primary-text-color, 0.2);
          border-radius: 10px;
          transition: all 0.3s ease;
          &:hover {
            background-color: rgba($primary-color, 0.9);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            transform: scale(1.05);
          }
          img {
            width: 100%;
            display: flex;
            aspect-ratio: 1/1;
            background-color: #fff;
            object-fit: cover;
            border-radius: 0.3rem 0.3rem 0 0;
            margin-bottom: 20px;
          }
          h3 {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 400;
            margin: 30px 0 4px 0;
          }
          p {
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.5rem;
            margin: 0 0 30px 0;
            color: darken($primary-text-color, 25%);
          }
        }
      }
    }
  }
}

.__clients-page {
  /*** Hero Section ***/
  .hero-section {
    position: relative;
    background-image: url("../images/interface/sketch-new-construction-scaled.jpg");
    background-position: center;
    width: 100%;
    padding: 3rem 0;
    padding-top: 8rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  /*** Clients Section ***/
  .clients-section {
    padding: 50px 0;
    .main {
      border-radius: 0.2rem;
      background-color: #fff;
      .wrapper {
        display: flex;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        padding: 1rem;
        gap: 40px;
        &.opposite .item {
          animation: animate 25s alternate-reverse linear infinite;
        }
        .item {
          margin: 0 10px;
          animation: animate 25s alternate linear infinite;
          img {
            height: 55px;
            border-radius: 0.5rem;
          }
        }
        @keyframes animate {
          0% {
            transform: translateZ(0);
          }
          to {
            transform: translate3d(-1100px, 0, 0);
          }
        }
      }
    }
  }
}
