@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@400&display=swap");
body::-webkit-scrollbar {
  width: 0.25em;
  background-color: rgba(255, 255, 255, 0.2);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid #708090;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #242526 !important;
  color: #fff;
}

/*** Common Things ***/
.bg-custom {
  background-color: #242526;
}

.dn {
  display: none;
}

mark {
  border-radius: 0.4rem;
}

button {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.textsvg {
  fill: white !important;
}

.title {
  position: relative;
  margin: 30px 0 19px 30px;
}
.title:before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  width: 6px;
  height: 30px;
  background-color: #e92f2f;
}

.break {
  display: block;
  visibility: hidden;
  width: 100%;
  height: 150px;
}

hr.line-bar {
  width: 120px;
  height: 1px;
  background-color: #fea75e;
  border: none;
  margin: 0;
  opacity: 1;
}

/*** Navbar ***/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(24, 25, 26, 0.7);
  color: #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .navbar-brand {
  color: #fff;
  font-weight: 500;
}
.navbar .navbar-brand img {
  max-height: 50px;
}

main {
  /*** Hero Section ***/
  /*** Intro Section ***/
  /*** Services Section ***/
}
main .hero-section {
  position: relative;
  background-image: url("../images/interface/construction-home-scaled.jpg");
  background-position: center;
  width: 100%;
  min-height: 100vh;
}
main .hero-section .hero-layout {
  width: 100%;
  min-height: 100vh;
  padding: 10rem 0;
  background: linear-gradient(100deg, #18191a 25%, rgba(24, 25, 26, 0.9) 35%, rgba(24, 25, 26, 0.7) 45%, rgba(24, 25, 26, 0.5) 70%, rgba(24, 25, 26, 0.1) 90%, rgba(24, 25, 26, 0.1) 100%);
}
main .hero-section .hero-layout .container {
  width: 100%;
}
main .hero-section .hero-layout .container .row {
  width: 100%;
}
main .hero-section .hero-layout .container .row .hero-heading {
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 4.56rem;
  margin: 20px 0;
  margin-top: 32px;
}
main .hero-section .hero-layout .container .row .hero-paragraph {
  max-width: 600px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8rem;
  margin: 0;
  color: #bfbfbf;
}
main .hero-section .hero-layout .container .row .hero-button {
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 10px 25px !important;
  font-size: 0.9rem !important;
  margin-top: 30px;
}
main .hero-section .hero-layout .container .row .hero-chip {
  background-color: rgba(24, 25, 26, 0.5);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2px;
  font-size: 0.9rem;
}
main .hero-section .hero-layout .container .row .hero-chip:hover {
  background-color: rgba(24, 25, 26, 0.9);
}
main .intro-section {
  padding: 100px 0;
}
main .intro-section .container .row > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .intro-section .container .row .intro-heading {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 30px;
}
main .intro-section .container .row .line-bar {
  margin-bottom: 30px;
}
main .intro-section .container .row .intro-paragraph {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin: 0;
  color: #bfbfbf;
}
main .intro-section .container .row .intro-button {
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 10px 25px !important;
  font-size: 0.9rem !important;
  margin-top: 30px;
  background-color: rgba(0, 127, 255, 0.1);
  border-radius: 0;
}
main .intro-section .container .row img {
  width: 100%;
  background-color: rgba(0, 127, 255, 0.1);
  border-radius: 10px;
}
main .intro-section .container .row img:hover {
  opacity: 0.75;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
main .services-section {
  padding: 50px 0;
}
main .services-section .container .row .services-chip {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
main .services-section .container .row .services-heading {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}
main .services-section .container .row .line-bar {
  margin: 0 auto 30px auto;
}
main .services-section .container .row .service-card {
  background-color: rgba(24, 25, 26, 0.3);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}
main .services-section .container .row .service-card:hover {
  background-color: rgba(24, 25, 26, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
main .services-section .container .row .service-card h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 10px;
}
main .services-section .container .row .service-card p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin: 0;
  color: #bfbfbf;
}